.eqn {
  display: block;
  margin: tells auto;
  margin-top: 25px;
  margin-bottom: 25px;

  opacity : 0.8; /* gray color */
}

.eqn-left {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

.definition {
  font-weight : 800;
}

.center {
  display : block;
  margin-left: auto;
  margin-right: auto;
}
